@model Vidly.ViewModels.CustomersViewModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Customers</h2>
<br />

@Html.ActionLink("Add new customer", "New", "Customer", new { }, new { @class = "btn btn-primary" })
<hr />
<table id="customers" class="table table-hover">
    <thead>
    <th>Name</th>
    <th>Membership Type</th>
    <th>Delete</th>
    </thead>
    <tbody></tbody>

</table>

@section scripts
{
    <script>

        $(document).ready(function () {

            var dataTable = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='/customer/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#customers").on("click", ".js-delete", function () {
                var deleteButton = $(this);
                bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + deleteButton.data("customer-id"),
                            method: "DELETE",
                            success: function () {
                                dataTable.row(deleteButton.parents("tr")).remove().draw();
                            }
                        })
                    }
                });
            });
        });
    </script>
}
