@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<br />

<table id="movies" class="table table-hover table-striped table-bordered">
    <thead>
    <th>Name</th>
    <th>Genre</th>
    </thead>
    <tbody></tbody>

</table>

@section scripts {

    <script>

        $(document).ready(function() {

            var dataTable = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "genre.name"
                    }
                ]
            });

        });
    </script>

}