
@{
    ViewBag.Title = "New";
}

<h2>New Rental</h2>

<form id="newRental">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" name="customer" data-rule-validCustomer="true" required type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input id="movie" name="movie" data-rule-validMovies="true" type="text" value="" class="form-control" />
        </div>
    </div>

    <ul id="movies" class="list-group"></ul>

    <button class="btn btn-primary">Submit</button>
</form>

@section scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {

            var vm = {
                movieIds: []
            }

            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/Customers/?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({ minLength: 3, highlight: true },
                {
                    display: 'name',
                    source: customers
                }).
                on("typeahead:select", function (e, customer) {
                    vm.customerId = customer.id;
                });

            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/Movies/?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#movie').typeahead({ minLength: 3, highlight: true },
                {
                    display: 'name',
                    source: movies
                }).on("typeahead:select", function (e, movie) {
                    $("#movies").append("<li class=\"list-group-item\">" + movie.name + "</li>");
                    vm.movieIds.push(movie.id);
                    $("#movie").typeahead('val', '');
                });

            $.validator.addMethod("validCustomer", function () {
                return vm.customerId && vm.customerId > 0;
            }, "Not a valid customer");

            $.validator.addMethod("validMovies", function () {
                return vm.movieIds && vm.movieIds.length > 0;
            }, "Need at least one valid movie");

            $("#newRental").validate({
                submitHandler: function (form) {
                    $.ajax({
                        url: "/api/rental",
                        method: "POST",
                        data: vm
                    }).done(function () {

                        toastr["success"]("Film checked out succesfully");
                        $("#customer").typeahead('val', '');
                        $("#movies").empty();
                        var vm = {
                            movieIds: []
                        }

                    })
                        .fail(function () {
                            toastr["error"]("Films did not checkout");

                        })
                    return false; // prevents the form from being submitted normally
                }
            });
        });
    </script>
}